/* Add CSS Styling */

.odd {
    background-color: rgb(255, 182, 193);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second-element {
    color: #0000ff;
    font-size: 36px;
}

.odd.third {
    font-size: 24px;
}

#fourth-element {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}